:root {
    --bg-color-dark: #0c151d;
    --bg-color-dark-gray: #171f26;
    --text-color-white: #e9ebec;
    --text-color-white-gray: #bac0c4;
    --font-family: 'Poppins', sans-serif;
    --first-color: #42a5f5;
    --first-color-dark: #2f9bf4;
    --font-size-h2: 1.25rem;
    --font-size-h3: 1rem;
    --font-size-base: 0.938rem;
    --font-size-sm: 0.813rem;
    --font-size-xs: 0.75rem;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font-family);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--bg-color-dark);
    color: var(--text-color-white);
}

h1, h2, h3 {
    font-weight: 600;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    /* border: 1px solid red; */
}

/*=============== PROFILE ===============*/
.profile {
    position: relative;
    padding-top: 3.5rem;
}

.profile__container {
    display: grid;
    row-gap: 2rem;
}

.profile__data {
    display: grid;
    text-align: center;
}

.profile__perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        180deg, var(--first-color) 0%,
        rgba(66, 165, 245, 0.2) 100%
    );
}

.profile__perfil p {
    font-size: 2.734rem;
}

.profile__border {
    justify-self: center;
    border: 3.5px solid var(--first-color);
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 0.75rem;
}

.profile__name {
    font-size: var(--font-size-h2);
    margin-top: -.1rem;
}

.profile__profession {
    font-size: var(--font-size-xs);
    font-weight: 500;
    color: var(--text-color-white-gray);
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.profile__social {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .25rem;
}

/*=============== BUTTONS ===============*/
.button {
    display: inline-block;
    align-items: center;
    background-color: var(--first-color);
    color: var(--text-color-white);
    padding: 1.15rem 1.5rem;
    border-radius: .5rem;
    transition: .3s;
    box-shadow: 0 8px 24px rgba(66, 165, 245, 0.25);
}

.button i {
    font-size: var(--font-size-h2);
}

.button:hover {
    background-color: var(--first-color-dark);
}

.button__small {
    padding: 0.75rem;
    box-shadow: none;
}

.button__dark {
    color: var(--text-color-white);
    background-color: var(--bg-color-dark-gray);
}

.button__dark:hover {
    background-color: var(--bg-color-dark);
}

.profile__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*=============== MAIN ACTIVE ===============*/
.filters [data-content] {
    display: none;
}

.filters__active[data-content] {
    display: grid;
}

/*=============== MAIN FILTERS ===============*/
.filters__content {
    margin: 2rem 0 2.5rem;
    background-color: var(--bg-color-dark-gray);
    padding: .375rem;
    border-radius: .75rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: .5rem;
}

.filters__button {
    width: 100%;
    border: none;
    outline: none;
    padding: .867rem;
    color: var(--text-color-white);
    background-color: transparent;
    font-size: var(--font-size-sm);
    font-family: var(--font-family);
    font-weight: 500;
    border-radius: 1rem;
    cursor: pointer;
    transition: .3s;    
}

.filters__button:hover {
    background-color: var(--bg-color-dark);
}

.filter-tab-active {
    background-color: var(--bg-color-dark);
}

/*=============== PROJECTS ===============*/
.projects__content {
    gap: 1.5rem;
}

.projects__card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.projects__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
}

.projects__modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(78, 104, 126, 0.3) 0%,
        rgb(8, 10, 13) 95%
    );
    display: grid;
    align-items: flex-end;
    padding: 1.5rem 1.25rem;
    left: 0;
    bottom: -100%;
    transition: .3s;
}

.projects__subtitle,
.projects__title {
    color: var(--text-color-white);
}

.projects__subtitle {
    font-size: var(--font-size-xs);
}

.projects__title {
    margin: 0;
    font-weight: 500;
    font-size: var(--font-size-h2);
}

.projects__links {
    margin-top: .67rem;
    margin-bottom: .59rem;
}

.projects__button {
    padding: .5rem;
}

.projects__card:hover .projects__modal {
    bottom: 0;
}

/*=============== SKILLS ===============*/
.skills__content {
    display: grid;
    row-gap: 3.5rem;
}

.skills__title {
    font-size: var(--font-size-h3);
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills__box {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 2rem;
}

.skills__group {
    display: grid;
    gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: .5rem;
}

.skills__data i {
    font-size: var(--font-size-h3);
    color: var(--first-color);
}

.skills__name {
    font-size: var(--font-size-h3);
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.skills__level  {
    font-size: var(--font-size-sm);
    color: var(--text-color-white-gray);
}

/*=============== Experiencia ===============*/
.experience__content {
    display: grid;
    gap: 2rem;
}

.experience__company {
    text-align: center;
    font-weight: 600;
    font-family: var(--font-family);
    font-size: var(--font-size-h3);
    text-transform: uppercase;
    margin: 0 auto;
}

.experience__rubro {
    text-align: center;
    margin-top: -.03rem;
    font-size: var(--font-size-sm);
    color: var(--text-color-white-gray);
    margin-bottom: 1.5rem;
}

.experience__description > p {
    color: var(--first-color);
}

.experience__description > ul {
    font-size: var(--font-size-base);
    font-family: var(--font-family);
}

.experience__details {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.experience__details > i {
    font-size: var(--font-size-h3);
    color: var(--first-color);
    margin-right: 1ch;
}

.experience__details > p {
    margin: 0;
    font-size: var(--font-size-base);
}

/*=============== FOOTER ===============*/
.footer__copy {
    display: block;
    margin: 2.5rem 0 2rem;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--text-color-white-gray);
}

/*=============== RESPONSIVE ===============*/
/* sm => 640px */
/* md => 768px */